.container {
	background: #FFB2FF;
	margin: 2em auto;
	padding: 0.8em;
	width: 40em;
	border: 2px solid #000;
}

.flash, .error {
	background: #000;
	color: red;
	padding: 0.5em;
}

h2 {
	color: black;
	font-family: cursive;
	font-weight: 600;
	font-style: oblique;
}

h3 {
	color: black;
	font-style: italic;
}

#logout {
	float: right;
}